<style>
  .content {
    width: 1060px;
    margin: 5vh auto !important;
    height: 90vh;
    background: rgb(9,31,45);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    background: linear-gradient(90deg, rgba(9,31,45,1) 0%, rgba(25,74,106,1) 50%, rgba(9,31,45,1) 100%);
  }
  .card {
    border: 0;
    margin: 10px 0;
    width: 500px;
    height: 125px;
    position: relative;
    background-color: transparent;
  }
  .card.header {
    width: 100%;
  }
  .card-title {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    height: 25px;
    margin: auto;
    width: 100%;
  }
  .header {
   background: url("../assets/main-background-header.png") no-repeat;
   background-size: 100% 100%;
  }
  .card-subtitle {
    color:#fff;
  }
  .product {
   background: url("../assets/main-background.svg") no-repeat;
   background-size: contain;
  }
  .product .card-subtitle {
    color: #fff;
    position: absolute;
    top:60px;
    left: 0;
    right:0;
    bottom: 0;
    height: 25px;
    margin: auto;
    width: 100%; 
    text-align: right;
    padding-right:120px;
  }
  .product .card-price {
    color: #75cfd7;
    position: absolute;
    top: 0;
    left: auto;
    right: 120px;
    bottom: 55px;
    height: 25px;
    margin: auto;
    width: 70px;
    text-align: right;
    font-size: 24px;
  }
  .product.fliped .card-price {
    right: auto;
    text-align: left;
    left: 120px;
  }
  .product .card-title {
    text-align: right;
    padding-right:120px;
  }
  .product.fliped .card-title {
    text-align: left;
    padding-left:120px;
  }
  .product.fliped .card-subtitle {
    text-align: left;
    padding-left:120px;
  }
  .product.fliped {
   background: url("../assets/main-background-fliped.svg") no-repeat;
   background-size: contain;
  }
  .product .card-image-wrapper {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .product.fliped .card-image-wrapper {
    left: 30px;
    right: auto;
  }
  .product .card-image {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
  }
  .product .card-image.mocha {
    height: 50px;
  }
  .header .card-image.sugar {
    height: 70px;
    position: absolute;
    top: 0;
    right: auto;
    left: calc(50% - 108px);
    bottom: 0;
    margin: auto; 
  }
  .header .card-title {
    text-align: left;
    padding-left: 180px;
  }
  .product .card-button-select {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 5px;
    background-color: #194a6a;
    position: absolute;
    right: auto;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
  }
  .product.fliped .card-button-select {
    right:10px;
    left: auto;
  }
  .card-quantity-select {
    width: 50%;
    float: right;
    height:40px;
    margin: auto;
    top:0;
    right: 20px;
    left: auto;
    position: absolute;
    bottom: 0;
    background-color:transparent;
  }
  .card-quantity-select ul {
    list-style: none;
  }
  .card-quantity-select .card-quantity-increment {
    float:right;
    width: 40px;
    height: 40px;
    background-color:#fff;
    border-radius: 50%;
    position: relative;
  }
  .card-quantity-select .card-quantity-increment:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: teal;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .card-quantity-select .card-quantity-increment:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: teal;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
  }
  .card-quantity-select .card-quantity-decrement {
    float:left;
    width: 40px;
    height: 40px;
    background-color:#fff;
    border-radius: 50%;
    position: relative;
  }
  .card-quantity-select .card-quantity-decrement:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: teal;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .card-quantity-select .card-plus {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-left: 15%;
    align-items: center;
    height: 40px;
    position: absolute;
  }
  .card-quantity-select .card-plus span {
    width: 6px;
    height: 6px;
    display: block;
    position: relative;
    border-radius: 50%;
  }
  .card-quantity-select .card-plus span:after {
    width: 8px;
    height: 8px;
    position: absolute;
    content:'';
    left: -4px;
    right: auto;
    top:-4px;
    bottom: 0;
    background-color: yellowgreen;
    border-radius: 50%;
  }
  .card-quantity-select .card-plus span:nth-child(1){
    border:4px solid white;
  }
  .card-quantity-select .card-plus span:nth-child(2){
    border:6px solid white;
  }
  .card-quantity-select .card-plus span:nth-child(3){
    border:8px solid white;
  }
  .card-quantity-select .card-plus span:nth-child(4){
    border:10px solid white;
  }
  .card-quantity-select .card-plus span:nth-child(4):after{
    background-color: white;
  }
  .card-quantity-select .card-plus span:nth-child(5){
    border:12px solid white;
  }
  .card-quantity-select .card-plus span:nth-child(5):after{
    background-color: white;
  }
</style>

<div class="content" role="main">
  <div class="row">
    <div class="col-12">
      <div class="card header">
        <div class="card-body header">
          <h5 class="card-title">Select Sugar Quantity</h5>
          <div class="card-image-wrapper">
            <img class="card-image sugar" src="../assets/sugar.svg" />
          </div>
          <div class="card-quantity-select">
            <ul>
              <li class="card-quantity-decrement">

              </li>
              <li class="card-plus">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </li>
              <li class="card-quantity-increment"></li>
            </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body product">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">1.00€</h5>
          <h5 class="card-title">Espresso</h5>
          <h6 class="card-subtitle">Espresso</h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-espresso.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body product fliped">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">2.00€</h5>
          <h5 class="card-title">Americano</h5>
          <h6 class="card-subtitle">Americano</h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-americano.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body product">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">1.00€</h5>
          <h5 class="card-title">Latte</h5>
          <h6 class="card-subtitle"></h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-latte.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body product fliped">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">1.00€</h5>
          <h5 class="card-title">Macchiato</h5>
          <h6 class="card-subtitle"></h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-macchiato.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body product">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">2.00€</h5>
          <h5 class="card-title">Con Panna</h5>
          <h6 class="card-subtitle"></h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-conpanna.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body product fliped">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">1.00€</h5>
          <h5 class="card-title">Flat White</h5>
          <h6 class="card-subtitle"></h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-flat-white.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body product">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">2.00€</h5>
          <h5 class="card-title">Cappucchino</h5>
          <h6 class="card-subtitle"></h6>
          <div class="card-image-wrapper">
            <img class="card-image" src="../assets/coffe-cappucchino.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body product fliped">
          <div class="card-button-select">
            <img class="card-image-button" src="../assets/red-button.svg" />
          </div>
          <h5 class="card-price">1.00€</h5>
          <h5 class="card-title">Mocha</h5>
          <h6 class="card-subtitle"></h6>
          <div class="card-image-wrapper">
            <img class="card-image mocha" src="../assets/coffe-mocha.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
